In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
#load dataset to a pandas dataframe
credit_card_data = pd.read_csv('creditcard.csv')


#first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [8]:
credit_card_data.tail() #last 5 rows

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [9]:
#dataset info
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [10]:
#checking the no. of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [11]:
#we dont have any missing value so we can continue

#distribution of legit transactions and fraud transactions

#0 ----> legit/normal txn ; 1 ----> fraud txn
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [ ]:
##therefore this dataset is highly unbalanced , cuz here we have two target variables or
#two classes and out of this one, more than 99% of data is a single class ie 0 -> 284315
##So, we cannot frame this data to our machine learning model as it wont recognize fraud 
#datapoints as they are very less ..ie whenever you give a new data it will predict its
#a normal datapoint ie legit

In [17]:
#seperating the data for analysis
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [18]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

#31 ->columns, 284315-> legit txns, 492->fraud txns

In [23]:
#statistical measures of the data
legit.Amount.describe()  ##give us statistival measures of the amount column

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
#it is percentile not percentage here above ie means 50% of values are less than 22.000000

In [25]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [26]:
#mean fraud > mean legit

In [28]:
#compare  the values for both the transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
#it gives the mean for both like v1's mean for class 0 is 0.008258
#and v2's mean for class 1 is -4.771948	
#huge difference between the txns of two-->therefore imp -> can be used to chck whether a txn is legit our fraud

#UNDER SAMPLING

In [ ]:
#Build a sample dataset containing similar distributn of normal txns andd fraud txns

# Number of Fraud txns --> 492
# we'll take random 492 legit samples from 284315 and take them with 492 fraud samples

In [31]:
legit_sample = legit.sample(n=492)  #randomly 492 datapoints not the first 492

In [32]:
#Concatenating two dataframes

In [33]:
new_dataset = pd.concat([legit_sample, fraud], axis= 0)  
#we want to have it row wise so mentioned axis 0 ie first 492 legit sample then 492 fraud
#if axis 1-> columnwise

In [34]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
126540,78026.0,-1.458129,1.270705,0.603695,2.766310,-0.321565,0.397678,0.085282,0.697365,-1.049091,...,-0.121918,-0.192400,0.360488,-0.058945,-0.621885,-0.015403,0.337004,0.311347,72.35,0
29344,35428.0,1.172970,0.154724,-0.217809,0.723228,0.275370,0.469317,-0.254257,0.221222,0.335879,...,-0.151961,-0.177097,-0.184263,-0.860867,0.565213,0.474016,0.015027,0.021696,12.31,0
132185,79887.0,-0.421891,1.814927,-0.409296,0.925989,1.336744,-1.067770,1.165023,0.039142,-1.124655,...,-0.051656,-0.158682,-0.321632,-0.140596,0.215307,-0.332146,0.096993,0.123679,1.29,0
39737,39942.0,1.193854,0.617554,-0.390266,1.309543,0.197995,-0.793606,0.178518,-0.060164,0.029853,...,-0.049560,-0.074968,-0.084194,-0.081823,0.590475,-0.294936,0.046355,0.052324,1.00,0
265389,161864.0,0.374557,2.489919,-1.806078,5.134442,0.946995,-0.609673,0.616041,0.125384,-2.030312,...,-0.189419,-0.396217,0.241985,-0.222146,-0.606193,0.177514,-0.115891,-0.072638,15.16,0

In [35]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [36]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [37]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94729.684959,-0.044089,-0.058456,-0.039125,-0.014474,0.003963,-0.096461,0.088326,0.035803,-0.032176,...,-0.031354,-0.044084,-0.020592,-0.016653,-0.004712,0.006061,-0.027797,-0.000522,-0.026883,107.482724
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [38]:
#the mean of classes of new_dataset is almost similar to dataset 
#So, nature of dataset has not chnged
# so diff is still there -> it creates our machine learning model able to detect whether our dtapoint is legit or fraud

In [39]:
#SPLITTING THE DATA INTO FEATURES AND TARGETS
#features -> v1,v2,etc (X)
#targets -> 0 or 1     (Y)

In [40]:
X = new_dataset.drop(columns='Class', axis= 1)
Y = new_dataset['Class']

In [41]:
print(X)  #doesnt have class column as it was dropped

            Time        V1        V2        V3        V4        V5        V6  \
126540   78026.0 -1.458129  1.270705  0.603695  2.766310 -0.321565  0.397678
29344    35428.0  1.172970  0.154724 -0.217809  0.723228  0.275370  0.469317
132185   79887.0 -0.421891  1.814927 -0.409296  0.925989  1.336744 -1.067770
39737    39942.0  1.193854  0.617554 -0.390266  1.309543  0.197995 -0.793606
265389  161864.0  0.374557  2.489919 -1.806078  5.134442  0.946995 -0.609673
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
126540  0.085282  0.697365 -1.049091  ...  0.132801 -0.121918 -0.192400
29344  -0.254257  0.221222  0.335879  ... -0.048308 -0.151961 -0.177097
132185  1.165023  0.039142 -1.124655  ... -0.082579 -0.051656 -0.158682
39737   0.178518 -0.060164  0.029853  ... -0.182466 -0.049560 -0.074968
265389  0.616041  0.125384 -2.030312  ...  0.162720 -0.189419 -0.396217
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
126540  0.360488 -0.058945 -0.621885 -0.015403  0.337004  0.311347   72.35
29344  -0.184263 -0.860867  0.565213  0.474016  0.015027  0.021696   12.31
132185 -0.321632 -0.140596  0.215307 -0.332146  0.096993  0.123679    1.29
39737  -0.084194 -0.081823  0.590475 -0.294936  0.046355  0.052324    1.00
265389  0.241985 -0.222146 -0.606193  0.177514 -0.115891 -0.072638   15.16
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [43]:
print(Y)  # class column

126540    0
29344     0
132185    0
39737     0
265389    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [44]:
#SPLIT THE DATA INTO TRAINING DATA AND TESTING DATA

In [47]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y , test_size =0.2, stratify=Y, random_state=2)

#test.size=0.2 means 20% data -> testing ::: 80% data -> training ---- X_test stores 20% of data and Y_test stores its labels, X_train stores 80% of data and Y_train stores its labels
#stratify(Y) makes sure the Y ie classes ie 0 and 1 are evenly distributed in training and testing data
#random_state=2 --- means how you want to split your data, if we mention 2 and tutor also mentioned 2 , our datas will be splitted in the same way, if I mention 3 instead, my data will be splitted in a different way

In [48]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [49]:
#MODEL TRAINING

In [50]:
#LOGISTIC REGRESSION (we're using this cuz it is generally used for binary classification

In [51]:
model = LogisticRegression()

In [54]:
#training the Logistic Regression Model with Training Data
model = LogisticRegression(max_iter=1000)

model.fit(X_train, Y_train)

LogisticRegression(max_iter=1000)

In [55]:
#Model Evaluation

In [56]:
#Accuracy Score

In [59]:
#accuracy on training data
X_train_prediction = model.predict(X_train) #all the labels predicted for X_train which is stored in X_train_prediction
training_data_accuracy = accuracy_score(X_train_prediction, Y_train) #the labels predicted for X_train ie X_train_prediction are compared with the actual labels for X_train ie Y_train
#comparison gives us accuracy score which is stored in  training_data_accuracy

In [60]:
print('Accuracy on Training Data:', training_data_accuracy)

Accuracy on Training Data: 0.9339263024142312

In [61]:
# if accuracy score > 73%or 80% --> good accuracy score

In [63]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [64]:
print('Accuracy on Test Data:', test_data_accuracy)

Accuracy on Test Data: 0.9238578680203046

In [65]:
#so Accuracy on Test Data almost simlar to Accuracy on Training Data

~~~~Accuracy on training data >> Accuracy on test data
--> model is more fitted with training data --> overfitting--> model is not generalized
eg: if a student is preparing for maths exm based on only PYQs then in the exm he'd be able to solve only ques from or realted to PYQs  --> over trained on training data

~~~~Accuracy on training data << Accuracy on test data
-->underfitted